.body{
    box-sizing: border-box;
    margin: 0;
   
}
:root{
    font-family: 'Roboto', sans-serif;
    --bg--color: hsl(235, 18%, 26%);
    --font--wstay--updated: 700
  
}
#form__purple__bg{
    background-color:var(--bg--color);
    padding: 50px;
    /* display: flex;
    display: block;
    justify-content: center;
    box-sizing: border-box; */
  
}

#form__plus__image-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 2%;
    background-color:hsl(0, 0%, 100%);
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}

form{
    flex: 1;
    margin: 0px 15px 0 10px; 
}

.image__wrap{
    flex: 1 ;
    margin: 0px 10px 0 15px;
}

form #text__wrap{
   
    margin-top: 21%;  
}


.image__wrap .signup__form__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* i figured when i used url for the images it was not responsive and it did not contain the entire div */
    /* content: url('assets/images/illustration-sign-up-desktop.svg'); */
}

h1{
    font-size:3em ;
    font-stretch: expanded;
    font-weight: var(--font--wstay--updated);
    color:var(--bg--color) ;
    
} 

p{
    color: hsl(234, 29%, 20%) ;
    font-weight:400;
    font-size: 1.2em;
}

p.mark{
    font-size: 1rem;
    color: hsl(234, 29%, 20%);
    
}

#text__wrap .mark__img{
    padding-right: 1.25%;
}

form #text__wrap .email__wrap label{
    color:  hsl(234, 29%, 20%);
    font-weight: 700;
    font-size: 1.3rem;
    display: block;
    margin: 15% 0 4% 0  ;
}

form #text__wrap .email__wrap input{
    display: block;
    color: hsl(231, 7%, 60%);
    width: 75%;
    padding: 3.25%  ;
    /* padding: 3.25% 25.5% 3.25% 25.5%; */
    border-radius: 8px;
    margin-bottom: 8%;
}

form #text__wrap #btn{
    background-color:  hsl(234, 29%, 20%);
    color:  hsl(0, 0%, 100%);
    border-radius: 8px;
    width: 75%;
    padding: 3.25%  ;
} 

button:active{
    box-shadow: hsl(4, 100%, 67%);
    outline: none;
}

button:hover{
    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(233, 30, 99, 1) 0%, rgba(255, 87, 122, 1) 38%, rgba(255, 98, 87, 1) 100%);
    border: none;
}

#confirmation__div #confirm__btn{
    padding: 3.5% 35.5% 3.5% 35.25% ;
    background-color:  hsl(234, 29%, 20%);
    color:  hsl(0, 0%, 100%);
    border-radius: 8px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
} 

#confirmation__div{
    background-color:  hsl(0, 0%, 100%);
    max-width: 29rem;
    max-height: fit-content;
    display: none;
    border-radius: 8px;
    margin: auto;
}

.confirmation{
    display: block;
    margin: 1.5rem;   
}

#confirmation__div .success__icon{
    margin-top: 1.5rem;
}

@media(max-width: 375px){
    body{
        margin: 0;
    }
   

    #form__purple__bg{
     background-color: transparent;
     margin: 0px;
     padding: 0px;
    }

    #form__plus__image-wrap{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        padding: 0;
      
    }

   
    .image__wrap .signup__form__image{
        content: url(assets/images/illustration-sign-up-mobile.svg);
        margin: 0px;
        object-fit:contain;
        
    }

    #formPage{
      
        margin-top: 0;
        margin-bottom:0 ;
    }
    #text__wrap{
        margin-top: 0;
        margin-left: 10px;
        margin-right:10px ;
        margin-bottom: 20px;
        padding: 0;
        /* background-color: azure;
         */
    }

    h1{
        font-size:3rem ;
        font-stretch: expanded;
        font-weight: 400px;
        color:var(--font--wstay--updated); 
      
    } 

    p{
        color: hsl(234, 29%, 20%) ;
        font-weight:100;
        font-size: 1.1rem;
        margin-bottom: 25px;
       
    }
    

    form #text__wrap #btn{
        background-color:  hsl(234, 29%, 20%);
        color:  hsl(0, 0%, 100%);
        border-radius: 8px;
        width: 85%;
        padding: 3.25%  ;
    } 
   
    button:hover{
        background: linear-gradient(90deg, rgba(233, 30, 99, 1) 0%, rgba(255, 87, 122, 1) 38%, rgba(255, 98, 87, 1) 100%);
        border: none;
    }

    #confirmation__div #confirm__btn{
       
        
        margin-top: 15rem;
    } 


}